/* 기본 텍스트 선택 방지 */
body,
.fishing-game {
  user-select: none; /* 텍스트 선택 방지 */
  -webkit-user-select: none; /* iOS에서 텍스트 선택 방지 */
  touch-action: none; /* 터치 동작 방지 */
}

.fishing-game {
  position: relative;
  width: 200px; /* 두 번째 게이지 추가를 위한 크기 조정 */
  height: 400px;
  background-color: #f1f1f1;
  border: 2px solid #000;
  overflow: hidden;
}

.gauge-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.gauge {
  position: relative;
  width: 20px;
  height: 93%;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}

.gauge-fill {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 20%;
  background-color: green;
  transition: transform 0.1s ease;
}

#gauge-fill2 {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 0%;
  background-color: red;
  transition: transform 0.1s ease;
}

.fish {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #00f;
  border-radius: 50%;
}
